<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangd.music.dao.UserDao">
    <resultMap id="UserMap" type="com.zhangd.music.bean.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="phone_num" column="phone_num"/>
        <result property="email" column="email"/>
        <result property="birth" column="birth"/>
        <result property="introduction" column="introduction"/>
        <result property="location" column="location"/>
        <result property="avator" column="avator"/>
        <result property="create_time" column="create_time"/>
        <result property="update_time" column="update_time"/>
    </resultMap>
    <!--查找所有用户-->
    <select id="searchUser" resultMap="UserMap">
        select * from consume order by id desc
    </select>
</mapper>
